/*======================================

        Default Values

Fonts: Roboto(paragraphs), Calistoga (headings)

Colors:
1. Sizzling Red: #f53b57;
2. Really Dark Blue: #181e2c;
3. Realy Light Blue: #e5ebf8;

======================================*/



/*------------------------------
        Basic setup
------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #181e2c;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
}


body h1,h2,h3,h4{
    font-family: 'Calistoga', cursive;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}



/*------------------------------
            Header
------------------------------*/
header {
    width: 100%;
    background-color: #181e2c;
    color: #e5ebf8;
}

.heading-div{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.heading-div h1{
    font-size: 35px;
    letter-spacing: 2px;

}

.nav-menu a{
    color: #e5ebf8;
    padding: 30px;
    font-size: 21px;
    transition: 0.3s ease-in-out;
}

.nav-menu a:hover{
    background-color: #f53b57;
}
/*------------------------------
        Header-section
------------------------------*/
.header-section{
    
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(24, 30, 44, 0.8)),url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e5ebf8;
}

.header-section h2{
    font-size: 65px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.header-section p{
    font-size: 23px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/*------------------------------
        Personal info
------------------------------*/
.personal-info{
    text-align: center;
    margin-top: 70px;
}

.personal-info img{
    border: 4px solid #f53b57;
    cursor: pointer;
    filter: grayscale(100);
    transition: 0.3s ease-out;
}

.personal-info img:hover{
    filter: none;
    border-radius: 50%;
}

.personal-info h2{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 38px;
    
}

.personal-info h3{
    margin-top: 15px;
    font-size: 28px;
    color: #f53b57;
    word-spacing: 2px;
}

.personal-info p{
    max-width: 1400px;
    margin: 30px auto;
    font-size: 18px;
    text-align: justify;
    text-align-last: center;
}

/*------------------------------
          Abilities
------------------------------*/
.abilities{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 25px auto;
}
.ability{
    margin: 45px;
}

.ability i{
    font-size: 80px;
    color: #f53b57;
}

.ability h3{
    margin-top: 20px;
    font-size: 25px;
    
}

.ability p{
    margin-top: 40px;
    text-align: justify;
    text-align-last: center;
}

/*------------------------------
            Works
------------------------------*/
.works{
    background-color: #181e2c;
    width: 100%;
    text-align: center;
    color: #e5ebf8;
    padding: 80px 0;
}

.works h2{
    padding-bottom: 50px;
    font-size: 40px;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.works-gallery{
    display: flex;
    flex-flow: wrap;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.works-gallery img{
    width: 32%;
    margin: 1% 0;
}

/*------------------------------
            Contact
------------------------------*/
.contact{
    background-color: #f53b57;
    width:100%;
    text-align: center;
    color: #e5ebf8;
    padding: 80px 0;
}
.contact h2{
    padding-bottom: 35px;
    text-transform: uppercase;
    font-size: 40px;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.contact form{
    max-width: 1400px;
    margin: 0 auto;
}

.contact input,textarea{
    width: 100%;
    margin: 15px auto;
    padding: 9px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #e5ebf8;
    resize: none;
    transition: 0.3s ease-out;
}

input:focus,textarea:focus{
    background-color: #181e2c;
    color: #e5ebf8;
}

form .button{
    border: 2px solid #181e2c;
    color: #181e2c;
}

form .button:hover{
    color: #e5ebf8;
    background-color: #181e2c;
    cursor: pointer;
    transform: scale(0.95)
}
/*------------------------------
            Footer
------------------------------*/
footer {
    text-align: center;
    padding: 15px;
    background-color: #181e2c;
    color:#e5ebf8;
    font-size: 18px;
}








